<ion-header>
  <ion-toolbar>
    <ion-title>Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="products" *ngIf="orders">
    <app-order *ngFor="let o of orders" [order]="o"></app-order>
    
   
  </div>
  <div class="total">
    <div class="innerDiv">
      <h5>Invoice</h5>
      <div class="tpanier">
        <p>Total Cart</p>
        <p *ngIf="cardTotal">{{cardTotal}}</p>
      </div>
      <div class="shpping">
        <p>Shipping Cost</p>
        <p>10.75</p>
      </div>
      <div class="tprice">
        <p>Total</p>
        <p *ngIf="total">DH {{total}}</p>
      </div>
    </div>
  </div>
  <div class="confirm">
    <button (click)="confirmOrders()">Confirm order</button>
  </div>
</ion-content>
