ion-tab-button{
    --color-selected: #F1F1F1;
    background-color: transparent ;
  }
  ion-tabs{
    background-color: #EAEDF4;
  }
  ion-tab-bar{
    background: #06070A;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top-right-radius:20px ;
    border-top-left-radius: 20px;
  }
  ion-fab-button{
    --background: #6B8BB9;
    width:45px;
    height:45px;
 }
  
  
 